.content-container {
	margin: 0 auto;
	padding-bottom: $s-size;
	max-width: 80rem;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.content {
	margin: 0 auto;
	max-width: 80rem;
	align-items: center;
	max-width: 80rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 $s-size $s-size $s-size;
}

.content p {
	color: $purple;
}

@media (min-width: $desktop-breakpoint) {
	.content-container {
		flex-direction: row;
	}

	.content {
		padding: 0 0 0 0;
	}
}
